/*
* Copyright (c) 2022 The ZMK Contributors
*
* SPDX-License-Identifier: MIT
*/

#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &default_layout;
    };

    default_transform: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <10>;
        rows = <4>;
//             | SW01  | SW02  | SW03  | SW04  | SW05  |  | SW05  | SW04  | SW03  | SW02  | SW01  |
//             | SW06  | SW07  | SW08  | SW09  | SW10  |  | SW10  | SW09  | SW08  | SW07  | SW06  | 
//      | SW16 | SW11  | SW12  | SW13  | SW14  | SW15  |  | SW15  | SW14  | SW13  | SW12  | SW11  | SW16  |
//                             | SW17  | SW18  | SW19  |  | SW19  | SW18  | SW17  | 
        map = <
                RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4)    RC(0,5) RC(0,6) RC(0,7) RC(0,8) RC(0,9)
                RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4)    RC(1,5) RC(1,6) RC(1,7) RC(1,8) RC(1,9)
        RC(3,0) RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4)    RC(2,5) RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(3,9)
                                RC(3,2) RC(3,3) RC(3,4)    RC(3,5) RC(3,6) RC(3,7)         
        >;
    };
 
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "TOTEM";
        transform = <&default_transform>;
        kscan = <&kscan0>;

        keys  //                     w   h    x    y     rot   rx   ry
            = <&key_physical_attrs 105 100   77  151 (-1000)  130  201>
            , <&key_physical_attrs 105 100  196   60  (-400)  249  110>
            , <&key_physical_attrs 105 100  317    0       0    0    0>
            , <&key_physical_attrs 105 100  423   49       0    0    0>
            , <&key_physical_attrs 105 100  529   65       0    0    0>
            , <&key_physical_attrs 105 100  868   65       0    0    0>
            , <&key_physical_attrs 105 100  974   49       0    0    0>
            , <&key_physical_attrs 105 100 1080    0       0    0    0>
            , <&key_physical_attrs 105 100 1200   60     400 1253  110>
            , <&key_physical_attrs 105 100 1319  152    1000 1372  202>
            , <&key_physical_attrs 105 100   95  250 (-1000)  147  300>
            , <&key_physical_attrs 105 100  203  160  (-400)  256  210>
            , <&key_physical_attrs 105 100  317  100       0    0    0>
            , <&key_physical_attrs 105 100  423  149       0    0    0>
            , <&key_physical_attrs 105 100  529  165       0    0    0>
            , <&key_physical_attrs 105 100  868  166       0    0    0>
            , <&key_physical_attrs 105 100  974  149       0    0    0>
            , <&key_physical_attrs 105 100 1080  100       0    0    0>
            , <&key_physical_attrs 105 100 1193  160     400 1246  210>
            , <&key_physical_attrs 105 100 1302  250    1000 1355  300>
            , <&key_physical_attrs 105 100    0  323 (-1000)   52  373>
            , <&key_physical_attrs 105 100  112  348 (-1000)  165  398>
            , <&key_physical_attrs 105 100  210  260  (-400)  263  310>
            , <&key_physical_attrs 105 100  317  200       0    0    0>
            , <&key_physical_attrs 105 100  423  249       0    0    0>
            , <&key_physical_attrs 105 100  529  265       0    0    0>
            , <&key_physical_attrs 105 100  868  266       0    0    0>
            , <&key_physical_attrs 105 100  974  249       0    0    0>
            , <&key_physical_attrs 105 100 1080  200       0    0    0>
            , <&key_physical_attrs 105 100 1186  260     400 1239  310>
            , <&key_physical_attrs 105 100 1285  349    1000 1338  399>
            , <&key_physical_attrs 105 100 1397  323    1000 1450  373>
            , <&key_physical_attrs 105 100  393  371       0    0    0>
            , <&key_physical_attrs 105 100  511  387    1500  563  437>
            , <&key_physical_attrs 105 100  619  432    3000  672  482>
            , <&key_physical_attrs 105 100  778  432 (-3000)  831  482>
            , <&key_physical_attrs 105 100  886  387 (-1500)  939  437>
            , <&key_physical_attrs 105 100 1003  371       0    0    0>
            ;
    };
 
    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        label = "KSCAN";
        
        diode-direction = "col2row"; 
        row-gpios
            = <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
    };
 };