//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <170>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
         &kp Q       &kp W       &kp F        &kp P         &kp B          &kp J        &kp L        &kp U        &kp Y       &kp SEMI
         &hm LGUI A  &hm LALT R  &hm LCTRL S  &hm LSHIFT T  &kp G          &kp M        &hm RSHFT N  &hm RCTRL E  &hm RALT I  &hm RGUI O
&kp ESC  &kp Z       &kp X       &kp C        &kp D         &kp V          &kp K        &kp H        &kp COMMA    &kp DOT     &kp SLASH   &kp APOSTROPHE
                                 &kp GRAVE    &kp TAB       &lt 1 SPACE    &lt 0 ENTER  &kp BSPC     &kp K_MENU
            >;
        };

        Sym {
            display-name = "Sym";
            bindings = <
        &kp EXCL  &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT    &kp CARET  &kp AMPERSAND  &kp KP_ASTERISK  &kp LEFT_PARENTHESIS  &kp RPAR
        &kp F1    &kp F2  &kp F3    &kp F4      &kp F5         &kp F6     &kp UNDER      &kp PLUS         &kp LEFT_BRACE        &kp RIGHT_BRACE
&trans  &kp F7    &kp F8  &kp F9    &kp F10     &kp F11        &kp F12    &kp MINUS      &kp EQUAL        &kp LBKT              &kp RBKT         &kp BSLH
                          &trans    &trans      &trans         &trans     &trans         &trans
            >;
        };

        Num {
            bindings = <
        &kp N1  &kp N2  &kp N3  &kp N4  &kp N5    &kp N6    &kp N7     &kp N8     &kp N9     &kp N0
        &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN   &kp UP     &kp RIGHT  &kp C_VOLUME_UP
&trans  &trans  &trans  &trans  &trans  &trans    &kp HOME  &kp PG_DN  &kp PG_UP  &kp END    &kp C_VOL_DN     &kp PRINTSCREEN
                        &sl 3   &trans  &trans    &trans    &trans     &trans
            >;
        };

        Special {
            display-name = "Sym";
            bindings = <
                &none  &none  &none  &none  &none    &none  &none  &none  &none  &none
                &none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&studio_unlock  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &sys_reset
                              &none  &none  &none    &none  &none  &none
            >;
        };
    };
};
