# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_CORNE_CENTRAL_DONGLE
    def_bool $(shields_list_contains,corne_central_dongle)

config SHIELD_CORNE_PERIPHERAL_LEFT
    def_bool $(shields_list_contains,corne_peripheral_left)

config SHIELD_CORNE_PERIPHERAL_RIGHT
    def_bool $(shields_list_contains,corne_peripheral_right)